/* Style input fields */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="e-mail"],
input[type="date"] {
  /* width: 50%; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add a hover effect to input fields */
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="e-mail"]:hover,
input[type="date"]:hover {
  border-color: #666;
}

/* Style input fields when focused */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="e-mail"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
  /* Blue border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style placeholders in input fields */
::placeholder {
  color: #888;
}

/* Style submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="nevermind"] {
  background-color: hsl(15, 100%, 50%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
} 

button[type="register"] {
  background-color: #EBA432;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="nevermind"]:hover {
  background-color: hsl(27, 100%, 35%);
}

button[type="register"]:hover {
  background-color: #7c581f;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: absolute;
  width: 50%;
  top: 70px;
  left: calc(50% - 25%);
  bottom: 70px;
}